<nav class="know navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li class="<%= menu.know_about.class %>"><a href="/conocenos/acerca"><%= menu.know_about.label %></a></li>
            <li class="<%= menu.know_philosophy.class %>"><a
                        href="/conocenos/filosofia"><%= menu.know_philosophy.label %></a></li>
            <li class="<%= menu.know_background.class %>"><a
                        href="/conocenos/trayectoria"><%= menu.know_background.label %></a></li>
            <li class="<%= menu.know_working.class %>"><a href="/conocenos/trabajo"><%= menu.know_working.label %></a>
            </li>
            <li class="<%= menu.know_allies.class %>"><a href="/conocenos/alianzas"><%= menu.know_allies.label %></a>
            </li>
        </ul>
    </div><!-- /.container-fluid -->
</nav>