<div class="content">
    <div class="col-sm-4 col-lg-3 hidden-xs menu">
        <% include ../partials/know.nav.ejs %>
    </div>
    <div class="section col-sm-7 col-lg-8">
        <div class="title light"><%= section.title %></div>
        <div class="paragraphs">
            <div class="paragraph"><%- section.paragraph1%></div>
            <div class="paragraph"><%= section.paragraph2%></div>
        </div>
        <div class="col-sm-3 img-filosofia">
            <img src="../images/conocenos/filosofia-oracle.png" alt="img-trabajo" class="img-responsive">
        </div>
        <div class="col-sm-9">
            <div class="orange-paragraph bold paragraph"><%= section.paragraph3%></div>
            <div class="paragraph"><%= section.paragraph4%></div>
        </div>
    </div>
</div>