<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/page-header.ejs %>
<% include ../partials/nav.ejs %>
<div class="slideshow jumbotron text-center">
    <section id="slideshow" class="header-line"><!--slideshow-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <% for(var i = 0; i < slideshows.length; i++) { %>
                <div class="<%= slideshows[i].divClass %>">
                    <img src="<%= slideshows[i].imgSrc %>" alt="<%= slideshows[i].imgAlt %>">
                    <div class="container">
                        <div class="carousel-caption">
                            <p class="bold">
                                <span><%= slideshows[i].caption %></span>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <a class="left carousel-control hidden-xs hidden-sm" href="#myCarousel" role="button" data-slide="prev">
                <img class="v-center left" src="images/slideshow/arrow-left-off.png" aria-hidden="true"></img>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control hidden-xs hidden-sm" href="#myCarousel" role="button" data-slide="next"
               style="align:center">
                <img class="v-center right" src="images/slideshow/arrow-right-off.png" aria-hidden="true"></img>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->
    </section><!--fin del slideshow-->
</div>
<div class="">
    <div class="row commitment">
        <div class="col-sm-7 hp-6em">
            <div role="alert">
                <div class="title extra-bold"><%= commitment.title %></div>
                <div class="paragraph"><%= commitment.text%></div>
            </div>
            <hr>
            <div class="text-center" role="alert">
                <div class="title bold"><%= alliances %></div>
                <div class="row alliances-logos">
                    <div class="col-xs-12 col-md-5 alliance left">
                        <img class="img-responsive" src="images/home/alianzas-oracle.png" alt="oracle_alliance_logo">
                    </div>
                    <div class="col-xs-12 col-md-5 alliance right">
                        <img class="img-responsive" src="images/home/alianzas-witbor.png" alt="witbor_alliance_logo">
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center col-sm-5 home-links">
            <div>
                <div class="know-us"><a href="/conocenos"><%=menu.know.label%></a></div>
                <div class="contact-us"><a href="/contacto"><%=menu.contact.label%></a></div>
            </div>
        </div>
    </div> <!--row-->
    <div class="text-center home-services">
        <div class="title extra-bold"><%=menu.services.label%></div>
        <div class="orange-text subtitle"><%=contentManagement%></div>
        <div class="read-more medium"><a href="/servicios"><%=readMore%></a></div>
    </div>
    <div class="row home-products">
        <div><div class="striked-title title"><%=products%></div></div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-6">
                <img src="images/home/productos-content.png" alt="content-products" class="img-responsive">
                <div class="description"><%=content%></div>
            </div>
            <div class="col-xs-6">
                <img src="images/home/productos-portal.png" alt="portal-products" class="img-responsive">
                <div class="description"><%=portal%></div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-6">
                <img src="images/home/productos-sites.png" alt="sites-products" class="img-responsive">
                <div class="description"><%=sites%></div>
            </div>
            <div class="col-xs-6">
                <img src="images/home/productos-cloud.png" alt="cloud-products" class="img-responsive">
                <div class="description"><%=cloud%></div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/page-footer.ejs %>
</body>
</html>
